table, th, td {
  border: 1px solid black;
}

.coin {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
