/* table styling */
table {
  border-collapse: collpase;
  width:100%;
  table-layout: fixed;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

/* to adjust column widths */



/* input box size */
input {
  field-sizing: content;
  min-width: 70px; /* Optional: set a minimum width */
  max-width: 100px; /* Optional: set a maximum width */
}


/* image sizing */

.coin {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* clear button */

.clear {
  transition-duration: 4s;
  border-radius: 8px;
  background-color: rgb(153, 0, 3);
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 20px;
}
