/* table styling */
table {
  border-collapse: collpase;
  width: 100%;
  table-layout: fixed;
  display: block;
  overflow-x:auto;
}

table,
th,
td {
  border: 1px solid rgb(153, 144, 133);
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

/* input box size */
input {
  field-sizing: content;
  min-width: 70px;
  /* Optional: set a minimum width */
  max-width: 100px;
  /* Optional: set a maximum width */
}

/* to center current silver price input */
#userInput {
  margin-bottom: 30px;
}


/* image sizing */

.coin {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* clear button */

.clear {
  transition-duration: 2s;
  border-radius: 8px;
  background-color: rgb(102, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  height: 50px;
}

.clear:hover {
  background-color: rgb(76, 58, 46)
}

.liveButton {
  transition-duration: 2s;
  border-radius: 8px;
  background-color: rgb(102, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 250px;
  height: 70px;
  font-size: 18px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.liveButton:hover {
  background-color: rgb(76, 58, 46)
}

/* web styling */

/* background */
body {
  background-color: rgb(247, 245, 242);
}

.accent {
  background-color: rgb(232, 225, 217); /* light taupe */
  padding: 5px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 900px;
}


/* text */
h1 {
  color: rgb(59, 59, 59);
  text-align: center;
}

h2 {
  color: rgb(109, 109, 109);
  text-align: center;
}

/* table */

thead {
  background-color: rgb(245, 233, 224);
}

tbody tr:nth-child(even) {
  background-color: rgb(250, 247, 243);
}

tbody tr:nth-child(odd) {
  background-color: rgb(239, 231, 225);
}
